<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : StoneWork 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140228

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href="../static/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/fonts.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="banner" class="container">
		<div class="title">
			<h2>Yoga for Anything</h2>
			<span class="byline">This app will recommend yoga videos from youtube for your preferred style!</span>
        </div>
        <div class="dropdown">
            <h3>Pick your style</h3>
            <select name="yoga" id="yoga">
                <option value="ashtanga">Ashtanga</option>
                <option value="hatha">Hatha</option>
                <option value="restorative">Restorative</option>
                <option value="vinyasa">Vinyasa</option>     
                <option value="kundalini">Kundalini</option>
                <option value="prenatal">Prenatal</option>
                <option value="null"> --- </option>
                <option value="pilates">Pilates</option>
                <option value="stretching">Stretching</option>
                <option value="null"> --- </option>
                <option value="nidra">Nidra</option>
                <option value="sound bath">Sound Bath</option>
                <option value="meditation">Meditation</option>
                <option value="breathwork">Breathwork</option>
            </select>
            <!-- <h3>Select your duration</h3>
            <select name="duration" id="duration">
                <option value=20>Less than 20 min</option>
                <option value=40>20 - 40 min</option>
                <option value=60>Over 40 min</option>
            </select> -->
        </div>
		<ul class="actions">
			<a href="#" class="button" id="recommend">Go!</a>
		</ul>
	</div>
</div>
<div id="result"></div>
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
<script>
    let get_input = function () {
        let yoga = $("select#yoga").val()
        // let duration = $("select#duration").val()
        // console.log(yoga)
        return {
            'yoga': yoga
            // 'duration': duration
        }
    };

    let send_query_json = function(query) {
        $.ajax({
            url: '/recommend',
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            success: function (resp) {
                // console.log($(resp))
                $("div#result").html(resp)
                // console.log($("div#result"))	
            },
            data: JSON.stringify(query)
        });
    };

    $(document).ready(function () {
        $("a#recommend").click(function () {
            let query = get_input();
            send_query_json(query);
        });

        $("button#clear").click(function () {
            $("#results_table tr").remove();
        })
    })
</script>
</body>
</html>
